<?js
var exceptions = obj || {};
var partial = this.partial.bind(this);
?>
<dl class="error-list">

<?js
    exceptions.forEach(function(e) {
        if (e && e.type && e.description) {
            ?>
            <dt>
                <?js= partial('type.tmpl', e.type.names) ?>
            </dt>
            <dd>
                <?js= e.description ?>
            </dd>
            <?js
        }
    });
?>

</dl>