<!--source-link.tmpl-->
<?js var data = obj; ?>

<div class="pull-right source-link-container">
  <code class="source-link" data-tmpl="method-tmpl(1)">
    <i class="fa fa-file-o"></i>
    <?js= this.linkto(data.meta.shortpath, data.meta.filename) ?>:<?js= this.linkto(data.meta.shortpath, data.meta.lineno, null, 'line' + data.meta.lineno) ?>
  </code>
</div>
